*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* Etiquetas y Clases */

body{
    width: 100%;
    background-color: rgb(241, 250, 238);
}

/* Header */

    header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        margin: auto;
        background: linear-gradient(220.55deg, #4063BC 0%, #6B0013 100%);
        color: rgb(241, 250, 238);
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li{
        list-style: none;
    }
    
    .liFooter{
        margin-right: 30px;
    }

    .aNav{
        position: relative;
        color: rgb(241, 250, 238);
        text-decoration: none;
        font-size: 1.6rem;
        border-color: rgb(241, 250, 238);
        padding: 3px 5px;  
        margin-bottom: 20px;
        margin-right: 45px;
    }

    .butNav{
        padding-left: 1rem;
        padding-right: 1rem; 
        color: rgb(241, 250, 238);
        background-color: rgb(29, 53, 87);
        box-shadow: rgb(241, 250, 238) 0.5px 0.5px 3px 0.5px; 
        border-bottom: 2px solid rgb(241, 250, 238);
    }

/* Main */

.section_Inicio{
    flex-direction: row;
    justify-content: space-around;
}

h1{
    margin-top: 130px;
    margin-left: 5%;
    margin-bottom: 35px ;
    font-size: 3.5rem;
}

h2{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color: rgb(230, 57, 70);
    font-size: 2rem;
}

.divPerfil{
    display: flex;
    justify-content: center;  
}

.imgPerfil{
    height: auto;
    margin-top: 140px;
    margin-bottom: 50px;
    width: 400px;
}

.aDescarga{
    width: 200px;
    margin-left: 10%;
    margin-top: 30px;
    color: rgb(241, 250, 238); 
    font-size:2rem; 
    text-decoration: none;
    padding: 5px; 
    border-radius: 12px; 
    background-color: rgb(230, 57, 70);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(230, 57, 70); 
}

.parrafo{
    margin-top: 25px;
    margin-left: 125px;
    color: black;
}


.divTecnologia{
    text-align: center;
}

.divSkills{
    margin: 15px 33% 0px 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 1rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
    font-weight: bold;
}

.iconSkills{
    width: 50px;
    height: auto;
}

.cardsContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cards{
    margin-left: 10px;
}

.data{
    position: absolute;
    width: 315px;
    height: 180px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.95);
    opacity: 0;
    transition: .5s;
    text-align: center;
}

.data h5,p{
    color: rgba(255,255,255,.8);
}

.imgEstudios{
    width: 315px;
    height: 180px;
    border-radius: 1rem;
    box-shadow: 0 5px 30px rgb(14 36 49 / 15%);
}


/* Footer */

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    color: rgb(241, 250, 238);
    background: linear-gradient(220.55deg, #4063BC 0%, #6B0013 100%);
}

.divFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

h4{
    font-size: 1.8rem;
    margin-left: 15px;
    margin-bottom: 40px;
    padding-top: 25px;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color: rgb(241, 250, 238);
}

.containerF{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsF{  
    margin: 20px;
    width: 45px;
    height: auto;
    border-radius: 0.5rem;
}



/* Varios */
span{
    font-size: 3.5rem;
    color: rgb(230, 57, 70);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 250, 238);
    margin-bottom: 40px;
}

hr{
    color: black; 
    background-color: rgb(241, 250, 238);
    width:80%;
    margin-left: 10%;
}


/* Hover */

.aNav:hover{
    font-size: 2rem;
    color: rgb(241, 250, 238);
    border-bottom: solid rgb(241, 250, 238);
    transition: 0.5s;
}

.aDescarga:hover{
    font-size: 2.2rem;
    color: rgb(241, 250, 238);
}

.iconosFooter:hover{
    width: 60px;
    margin: auto;
}

.cards:hover .data{
    opacity: 1;
}

.butNav:hover {
    background-color: rgba(255,255,255,.4);
}

.buttDescarga:hover {
    background-color: rgba(230, 57, 70,.4);
}



@keyframes mover {
    0% { 
        transform: translate(100%);
        rotate: 25deg;
    }
}

